.counter-container{
    background-color: rgb(62, 62, 93);
    display:flex;
    flex-direction: column;
    gap:15px;
    padding:1.5rem;
    border: 2px solid red;
    border-radius:40%;
    align-items: center;
    justify-items: center;
}